
/* grid areas */
.snippet1 { grid-area: snippet1; }
.main { grid-area: main; }
.snippet2 { grid-area: snippet2; }
.ad2 { grid-area: ad2;}
.newsCard {grid-area: newsCard;}
.newsCardTab {grid-area: newsCardTab;}



/* desktop view / DEFAULT VIEW */
.grid-container{
  display: grid;
  grid-template-columns: 1fr 1.2fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
    "snippet1 main snippet2";
  grid-gap: 0.5rem;
}


.ad2, .newsCard,.newsCardTab{
  display: none;
}






/* tablet view */
@media only screen and (max-width: 1079px) {
  .grid-container{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: 
      "main snippet1" 
      "newsCardTab newsCardTab";
  }

  .snippet1, .main, .newsCardTab{
    display: block;
  }
  .snippet2, .ad2, .newsCard{
    display: none;
  }
  
  
 

}

/* mobile view */
@media only screen and (max-width: 600px) {
  .grid-container{
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
      "newsCard" 
      "snippet1"
      "ad2" 
      "snippet2";
    grid-gap: 0;
    
  }
  .newsCard, .snippet1, .snippet2, .ad2{
    display: block;
  }
  .newsCardTab, .main{
    display: none;
  }
}