.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}



section{
  margin: 1rem;
  max-width: 380px;
  border-radius: 20px;
  padding: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: rgb(255, 253, 253);
}


img{
  width: 100%;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}